<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <script src="{% static 'cadastro.js' %}"></script>
</head>
<body>
<h1>Cadastre o item</h1>
<button type="button"><a href="{% url 'inicio' %}">Voltar para o incio</a></button>
<br>
<br>
    <form method="POST">{% csrf_token %}

            {{form}}<button type="submit">Enviar</button>
        <button type="button"><a href="{% url 'inicio' %}">Cancelar</a></button>
    </form>
</body>
</html>