<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Boas Compras!</title>
    <link rel="stylesheet" href="{% static 'style.css' %} ">
    <script src="{% static 'script.js' %}"></script>
</head>
<body>

     <h2>Seja bem vindo ao Boas Compras!</h2>
     <div id="veja_sua_lista">
        <a href="{% url 'lista' %}">Veja sua Lista</a>
         </div>

        <p><strong>Se ainda não possui sua lista de compras :</strong></p>
     <div id="cadastre">
        <a href="{% url 'cadastro' %}">Cadastre</a>
         </div>
</body>
</html>